:root {
    --primary-color: #1ebfc1;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    word-wrap: break-word;
}

/* HEADER */
.header.fixed {
    position: sticky;
    top: -44px;
    background: #fff;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 20px;
}

.nav a.active,
.nav a:hover {
    /* font-weight: 600; */ /* khi hover bị ảnh hưởng tới các phần tử bên cạnh*/
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.body .action .action-link {
    color: #494949;
    font-size: 1.6rem;
    padding: 8px 20px;
    margin: 0 4px 0 157px;
}

.body .action .btn-signup {
    display: inline-block;
    min-width: 108px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    line-height: 46px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0 22px;
}

.body .action .btn-signup:hover {
    opacity: 0.9;
}
/* Hero */
.hero {
    margin-top: 50px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .body .hero-left {
    /* width: 51%; */
}

.hero .hero-left .desc-icon {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .hero-left .heading {
    margin-top: 18px;
}

.hero .hero-left .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    width: 374px;
    line-height: 1.78; /* 177.778% */
}
