:root {
    --primary-color: #1ebfc1;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading {
    color: #0d1111;
    font-weight: 700;
}

.heading.lv1 {
    font-size: 6.2rem;
    line-height: 1.16; /* 116.129% */
}

.heading.lv2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.heading.lv3 {
    font-size: 2.2rem;
}

.sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.btn {
    display: inline-block;
    color: #fff;
    min-width: 186px;
    line-height: 68px;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 14px;
    font-weight: 600;
    background: var(--primary-color);
    padding: 0 41px;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.break-all {
    break-all: break-word;
}

/* HEADER */
.header.fixed {
    position: sticky;
    top: -44px;
    background: #fff;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 52px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 8px 20px;
}

.nav a.active,
.nav a:hover {
    /* font-weight: 600; */ /* khi hover bị ảnh hưởng tới các phần tử bên cạnh*/
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.body .action .action-link {
    color: #494949;
    font-size: 1.6rem;
    padding: 8px 20px;
    margin: 0 4px 0 157px;
}

.body .action .btn-signup {
    display: inline-block;
    min-width: 108px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    line-height: 46px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0 22px;
}

.body .action .btn-signup:hover {
    opacity: 0.9;
}
/* ============Hero================= */
.hero {
    padding: 50px 0 80px 0;
}

.hero .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* =======hero-left============= */
.hero-left .desc-icon {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero-left .heading.lv1 {
    margin-top: 18px;
    width: 458px;
}

.hero-left .desc {
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    width: 374px;
    line-height: 1.78; /* 177.778% */
}

.hero-left .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero-left .hero-btn {
    margin-right: 50px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-left .play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: none;
    border-radius: 62px;
    background: #fff;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-left .play:hover {
    cursor: pointer;
    opacity: 0.9;
}

/* ===========hero-right============= */
.media-block {
    position: relative;
}

.media-block .img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.media-block .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.media-block .Courses {
    position: absolute;
    top: 149px;
    left: -40px;
    display: flex;
    min-width: 157px;
    align-items: center;
    padding: 18px 25px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .Courses .book-icon {
    position: relative;
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 5px 2px 2px 5px;
}

.media-block .Courses .book-icon::before {
    position: absolute;
    top: 28px;
    left: 4px;
    right: 4px;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: #ffffff;
    border-radius: 4px;
}
.media-block .Courses .desc {
    margin-left: 16px;
    width: 55px;
}

.media-block .schedules {
    position: absolute;
    bottom: 46px;
    left: -65px;
    min-width: 124px;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.media-block .schedules .content {
    padding: 16px 25px 23px;
}

.media-block .schedules .desc {
    text-align: center;
}

.media-block .schedules .range {
    position: relative;
    display: block;
    background: #edf1f5;
    border-radius: 3px;
    width: 74px;
    height: 6px;
    margin: 0 auto;
}

.media-block .schedules .range:nth-child(4) {
    width: 26px;
}

.media-block .schedules .range::after {
    position: absolute;
    content: "";
    height: 100%;
    background: #fb9899;
    border-radius: 3px;
}

.media-block .schedules .range:nth-child(1) {
    margin: 16px 0 12px;
}

.media-block .schedules .range:nth-child(1)::after {
    width: 52.5%;
}

.media-block .schedules .range:nth-child(2) {
    margin-bottom: 10px;
}

.media-block .schedules .range:nth-child(2)::after {
    width: 69%;
}

.media-block .schedules .range:nth-child(3) {
    margin-bottom: 16px;
}

.media-block .schedules .range:nth-child(3)::after {
    width: 44.5%;
}

.media-block .Our-Active-Students {
    position: absolute;
    bottom: 41px;
    right: 45px;
    min-width: 207px;
    padding: 17px 35px;
    background: #fff;
    border-radius: 24px;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.Our-Active-Students .avartar-blog {
    display: flex;
    margin-top: 8px;
}

.Our-Active-Students .avartar-blog .avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -7px;
}

.Our-Active-Students .avartar-blog .avatar-ten {
    background: var(--primary-color);
    text-align: center;
}

.Our-Active-Students .avatar-ten span {
    color: #fff;
    line-height: 33px;
    font-size: 1rem;
    font-weight: 500;
}

/* FEATURES */

.features {
    margin-top: 30px;
    padding-top: 100px;
}

/* features-info */
.features-info .heading.lv2 {
    width: 577px;
    margin-top: 18px;
}

.features-info .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
}

/* features-list */
.features-list {
    display: flex;
    margin-top: 80px;
}

.features-list .image {
    width: 102px;
    height: 106px;
}

.features-list .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features-list .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    line-height: 1.69; /* 168.75% */
}

.features-list .features-item:first-child .desc {
    width: 168px;
}

.features-list .features-item:nth-child(2) {
    margin: 0 200px 0 209px;
}

.features-list .features-item:nth-child(2) .desc {
    width: 223px;
}

.features-list .features-item:last-child .desc {
    width: 224px;
}

/* C  O  U  R  S  E  S */
.courses {
    margin-top: 30px;
    padding-top: 100px;
}

.courses-info .heading {
    margin: 18px 0 19px;
}

.courses-info .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.courses-info .info .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78; /* 177.778% */
}

.courses-info .info .link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.courses-list {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.courses-list .courses-item {
    position: relative;
    width: 33.33%;
}

.courses-item .image img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.65;
    cursor: pointer;
}

.courses-item .info-courses {
    position: absolute;
    top: 322px;
    left: 17px;
    width: 325px;
    padding: 18px 35px 29px 25px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.courses-item .info-courses .number {
    margin: 20px 0 10px;
    color: #767e7e;
    font-size: 1.6rem;
}

.courses-item .number span {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.courses-item .info-courses .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.courses-item .date {
    display: flex;
    gap: 10px;
}

.courses-item .date .date-info {
    display: flex;
    align-items: center;
    color: #9da6a5;
    font-size: 1.4rem;
}

.courses-item .date .date-info::before {
    display: inline-block;
    margin-right: 10px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}
